body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

.container {
  width: 300px;
  margin: auto;
  padding: 20px;
  background: white;
  margin-top: 100px;
  border-radius: 10px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 5px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  background: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}

.course, .quiz, .progress {
  margin: 30px;
}

.progress-bar {
  width: 300px;
  height: 20px;
  background: #ddd;
  margin: auto;
}

#progressFill {
  width: 0%;
  height: 100%;
  background: green;
}